In [5]:
# In Python, a tuple is an immutable sequence data type that is similar to a list. The main difference between a tuple and a 
# list is that tuples cannot be modified once created, while lists are mutable and can be modified.

# Here are some key characteristics and features of tuples:

# Immutable: Once a tuple is created, its elements and size cannot be changed. This immutability provides data integrity and 
# makes tuples suitable for storing related data that should not be modified.

# Ordered: Tuples preserve the order of elements, just like lists. You can access elements in a tuple using indexing and 
# slicing.

# Heterogeneous: Tuples can store elements of different data types, such as integers, floats, strings, and even other tuples.

# Indexed: Each element in a tuple has a unique index starting from 0, which allows for accessing individual elements using 
# their index values.

# Iterable: Tuples can be iterated over using loops, making it easy to process each element in the tuple.

# Packing and Unpacking: Tuples support packing multiple values into a single tuple and unpacking the values into separate 
# variables.

# Here's an example to illustrate the usage of tuples:

# Creating a tuple
fruits = ("apple", "banana", "cherry")
print(fruits)

('apple', 'banana', 'cherry')

In [6]:
# Accessing elements
print(fruits[0])  # Output: "apple"
print(fruits[1])  # Output: "banana"

apple
banana

In [7]:
# Iterating over a tuple
for fruit in fruits:
    print(fruit)
# Output:
# "apple"
# "banana"
# "cherry"

apple
banana
cherry

In [8]:
# Tuple packing
name = "John"
age = 25
location = "New York"

person = (name, age, location)
print(person)  # Output: ("John", 25, "New York")

('John', 25, 'New York')

In [9]:
# Tuple unpacking
name, age, location = person
print(name)     # Output: "John"
print(age)      # Output: 25
print(location) # Output: "New York"

John
25
New York

In [10]:
# Tuples are commonly used when you want to store related data together and ensure that the data remains unchanged. 
# They can be used in scenarios such as returning multiple values from a function, representing coordinates or points in space,
# storing database records, and more.

In [21]:
# Returning Multiple values from a function

# Tuples are often used to return multiple values from a function as a single entity. For example, a function that
# calculates the minimum and maximum values of a list can return a tuple containing both values.

def min_max(numbers):
    min_value = min(numbers)
    max_value = max(numbers)
    return min_value, max_value

result = min_max([1, 2, 3, 4, 5])
print(result)  # Output: (1, 5)

def calculate_stats(numbers):
    average = sum(numbers) / len(numbers)
    minimum = min(numbers)
    maximum = max(numbers)
    return average, minimum, maximum

stats = calculate_stats([1, 2, 3, 4, 5])

print(stats)  # Output: (3.0, 1, 5)

(1, 5)

In [19]:
# Coordinate points or data pairs: Tuples are useful for representing coordinate points or pairs of related data. For instance, 
# in graphical applications, you might store the x and y coordinates of a point as a tuple.

point = (3, 5)
x, y = point
print(x)  # Output: 3
print(y)  # Output: 5

3
5

In [30]:
# Database records or rows: Tuples can be used to represent database records or rows, where each tuple element corresponds to 
# a field or attribute in the record. Each tuple represents a single record, and a collection of tuples can represent a 
# database table.

customer1 = ("John", "Doe", 25, "john.doe@example.com")
customer2 = ("Jane", "Smith", 30, "jane.smith@example.com")

customers = [customer1, customer2]
for customer in customers:
    print(customer)
# Output:
# ("John", "Doe", 25, "john.doe@example.com")
# ("Jane", "Smith", 30, "jane.smith@example.com")

('John', 'Doe', 25, 'john.doe@example.com')
('Jane', 'Smith', 30, 'jane.smith@example.com')

In [31]:
# Unpacking values in a loop: Tuples can be used to iterate over multiple sequences simultaneously using the zip() 
# function and unpack the values into separate variables within a loop.

names = ["Alice", "Bob", "Charlie"]
ages = [25, 30, 35]

for name, age in zip(names, ages):
    print(name, age)
# Output:
# "Alice" 25
# "Bob" 30
# "Charlie" 35

Alice 25
Bob 30
Charlie 35

In [39]:
# Sorting with custom criteria: Tuples can be used to define custom sorting criteria by comparing specific elements of the 
# tuples. This allows for more flexible sorting based on multiple attributes.

students = [("John", 25), ("Alice", 30), ("Bob", 20)]

sorted_students = sorted(students, key = lambda student: student[1])
print(sorted_students)
# Output: [("Bob", 20), ("John", 25), ("Alice", 30)]

[('Bob', 20), ('John', 25), ('Alice', 30)]

In [40]:
sorted_students = sorted(students, key = lambda student: student[0])
print(sorted_students)
# Output: [("Bob", 20), ("John", 25), ("Alice", 30)]

[('Alice', 30), ('Bob', 20), ('John', 25)]

In [41]:
# Swapping Values: Tuples can be used to swap the values of two variables without the need for a temporary variable.
a = 10
b = 20

a, b = b, a

print(a)  # Output: 20
print(b)  # Output: 10

20
10

In [42]:
# Unpacking Values: Tuples can be unpacked into separate variables to conveniently access individual elements.

int